<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="false"
        android:version="1" />

    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="false"
        android:version="0x401000" />

    <application
        android:allowBackup="false"
        android:appCategory="game"
        android:hardwareAccelerated="true"
        android:label="Xziel Engine Prototype"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.game_mode_config"
            android:resource="@xml/game_mode_config" />

        <activity
            android:name=".XzielGameActivity"
            android:configChanges="density|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape">

            <meta-data
                android:name="android.app.lib_name"
                android:value="xziel-native" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
